/*-- scss:defaults --*/

$theme: "cosmo" !default;

$primary: #637238 !default;
$body-color: #FFFFFF !default;
$body-bg: #000000 !default;
$body-text-align: justify !default;

$link-color: #75AADB !default;
$btn-code-copy-color-active: #75AADB;

$code-bg: gray !default;

$line-height-base: 1.7 !default;
$line-height-sm:  1.25 !default;
$line-height-lg:     2 !default;

$min-contrast-ratio:   2.6 !default;

// Options

$enable-rounded: false !default;



// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: YaHei !default;
$font-size-root: 15px !default;
$h1-font-size: 1.4rem !default;
$h2-font-size: 1.2rem !default;
$h3-font-size: 1.0rem !default;
$headings-font-weight:      400 !default;

// Navbar

$navbar-dark-hover-color:       rgba(#FFF, 1) !default;
$navbar-light-hover-color:      rgba(#000, .9) !default;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;


/*-- scss:rules --*/

.sidebar-title {
  color: #75AADB;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

.quarto-section-identifier {
  color: #FFFFFF;
  font-weight: bold;
}

/* Code ------------------------------------------------ */

// Code blocks

code {
  color: white;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #CCCCCC;
}

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}
